.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    width:350px;
    text-align:center;
}