.register-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-box{
    background:white;
    padding:40px;
    border-radius:15px;
    width:350px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.link{
    color:#2563eb;
    cursor:pointer;
}