.register-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-box{
    background:white;
    padding:40px;
    border-radius:15px;
    width:350px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.link{
    color:#2563eb;
    cursor:pointer;
}

.success-msg{

    background:#d4edda;
    color:#155724;

    padding:12px;

    border-radius:10px;

    margin-bottom:10px;

    text-align:center;

    font-weight:bold;
}

.error-msg{

    background:#f8d7da;
    color:#721c24;

    padding:12px;

    border-radius:10px;

    margin-bottom:10px;

    text-align:center;

    font-weight:bold;
}