.file-card{

    position:relative;

    background:white;

    padding:20px;

    border-radius:12px;

    box-shadow:0 0 10px rgba(0,0,0,0.1);

    display:flex;

    flex-direction:column;

    height:500px;
}

/* ===================== */
/* CATEGORIA (FIJA ARRIBA) */
/* ===================== */

.file-keywords{

    position:absolute;

    top:15px;

    right:15px;

    background:#dbeafe;

    color:#1d4ed8;

    padding:5px 10px;

    border-radius:8px;

    font-weight:bold;

    font-size:12px;
}

/* ===================== */
/* TITULO */
/* ===================== */

.file-title{

    font-size:20px;
    font-weight:bold;
    word-break:break-word;
    min-height:60px;
    margin-top:20px;
    margin-bottom:10px;
    display:-webkit-box;

    -webkit-line-clamp:2;

    -webkit-box-orient:vertical;

    overflow:hidden;
}

/* ===================== */
/* CONTENIDO MULTIMEDIA */
/* ===================== */

.file-card img,
.file-card video,
.file-card iframe{

    width:100%;
    height:300px;
    object-fit:contain;
    border-radius:10px;
    margin-top:10px;
}

.file-card audio{

    width:100%;

    margin-top:10px;
}

/* ===================== */
/* BOTONES (FIJOS ABAJO) */
/* ===================== */

.buttons-container{

    margin-top:auto; /* CLAVE: empuja todo abajo */

    display:flex;

    gap:10px;

    padding-top:15px;
}

/* ===================== */
/* BOTONES ESTILO */
/* ===================== */

.file-card button{
    border:none;
    color:white;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:0.2s;
}

.download-button{

    background:#16a34a;
}

.download-button:hover{

    background:#15803d;
}

.delete-button{

    background:#ef4444;
}

.delete-button:hover{

    background:#dc2626;
}