.file-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.file-card img,
.file-card video{
    width:100%;
    border-radius:10px;
    margin-top:10px;
}

.file-card audio{
    width:100%;
    margin-top:10px;
}

.file-title{
    font-size:20px;
    font-weight:bold;
}

.file-keywords{
    color:gray;
    margin-bottom:10px;
}

.delete-button{
    background:#ef4444;
    margin-top:15px;
}

.delete-button:hover{
    background:#dc2626;
}

.download-button{
    background:#16a34a;
    margin-top:15px;
    margin-right:10px;
}

.download-button:hover{
    background:#15803d;
}