/* NAVBAR */
.navbar {
    background: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TITULO NAVBAR */
.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

/* BOTON NAVBAR */
.navbar button {
    background: #ef4444;
}

.navbar button:hover {
    background: #dc2626;
}